<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ViCellBLU_dotNET_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ViCellBLU_dotNET_Test.Properties.Settings>
            <setting name="SamplesDir" serializeAs="String">
                <value>\Instrument\</value>
            </setting>
            <setting name="IPAddr" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CnxPort" serializeAs="String">
                <value>62641</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>factory_admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Vi-CELL#01</value>
            </setting>
        </ViCellBLU_dotNET_Test.Properties.Settings>
    </userSettings>

</configuration>
